<!DOCTYPE html>
<html>
<head>
  <title>Guidance</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
<header id="top" class="main-header">
  <span class="title">Making Educator's Lives Easier</span>
  <h1>Let's Get Started!</h1>
</header>

<div class="primary-content t-border">
  <p class="intro">
    Take control of how you communicate with parents and teachers. Customize your schools home page. Track data with a custom dashboard.
  </p>
  <a class="callout" href="#more">Find out more</a>

  <div class="wildlife">
    <h2>Click the links above to view some features</h2>

  </div><!-- End .wildlife -->

  <a class="callout" href="#wildlife">See Example</a>
</div><!-- End .primary-content -->


</div><!-- End .secondary-content -->

<footer class="main-footer">
  <p>All rights reserved to <a href="#">Me</a>.</p>
  <a href="#top">Back to top &raquo;</a>
</footer>
</body>
</html>